html
{
  min-height: 100%;
}
body 
{

  font-size: 2vw;
  animation: start 1s linear;
  margin: 0;
  background: no-repeat center/100% 100% url(https://www.ict-solutions-events.com/wp-content/uploads/2020/03/AdobeStock_100000042-e1563305717660-686x371-1.jpeg);
  background-size: cover;
}

@keyframes start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.upper_section
{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}
.title
{
  padding: 30px;
  margin:10px;
  padding:10px;
  flex: 200px;
  background:rgba(3,67,106, 0.5);
  border-radius:10%;
  transition: 0.3s;
}
.title:hover
{
  transform: scale3d(1.1,1.1,1);
  border-radius:20% 10% 20% 10%;
}
.avatar 
{
  margin:10px;
  border-radius:10% 10% 10% 10%;
  object-fit: cover;
  max-width:50%;
  transition: 0.3s;
}

.avatar:hover
{
  transform: scale3d(1.1,1.1,1);
  border-radius:20% 10% 20% 10%;
}

.aboutme
{
  text-align: center
}
.synopsis
{
}
.skills
{

  flex: 100px;
  display:flex;
  flex-wrap: wrap;
  
}
.skills:hover
{
  border-radius:20% 10% 20% 10%;
}
.hards
{
  margin:10px;
  padding:15px;
  flex: 200px;
  border-radius:10%;
  background:rgba(36,90,122, 0.5);
  transition: 0.3s;
}
.hards:hover
{
  transform: scale3d(1.1,1.1,1);
  border-radius:20% 10% 20% 10%;
}
.price
{
  margin:10px;
  padding:10px;
  flex: 200px;
  border-radius:10%;
  background:rgba(36,90,122, 0.5);
  transition: 0.3s;
}
.price:hover
{
  transform: scale3d(1.1,1.1,1);
  border-radius:20% 10% 20% 10%;
}
.link
{
  margin:10px;
  padding:20px;
  flex: 200px;
  text-align: center;
  vertical-align: middle;
  border-radius:50%;
  background: rgba(100,168,209, 0.5);
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}